{% include 'navbar/dashboard-side-navbar.html' %}
{% block content %}
<div class="container">
    <h1>Combine Data Within FCHUB Website</h1>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <div class="row">
        <!-- New Container (On Top) -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    What to do?
                </div>
                <div class="card-body text-center">
                    <a class="btn btn-primary" href="{% url 'fchub:migrate-fabric-data' %}">Add Sales per Fabric</a>
                    <a class="btn btn-primary" href="{% url 'fchub:migrate-category-data' %}">Add Sales per Category</a>
                    <a class="btn btn-primary" href="{% url 'fchub:migrate-color-data' %}">Add Sales per Color</a>
                    <a class="btn btn-primary" href="{% url 'fchub:migrate-location-data' %}">Add Sales per Location</a>
                    <a class="btn btn-primary" href="{% url 'fchub:migrate-training-data' %}">Make Training Data</a>
                    <a class="btn btn-primary" href="{% url 'fchub:migrate-fchub-data' %}">Fetch Relevant Data</a>
                </div>
            </div>
        </div>
        <div>
            <br>
        </div>
        <!-- Accordion Container for Successful Orders and Purchase Data -->
        <div class="col-md-12">
            <div id="accordion">
                <!-- Card Container 1: Successful Orders -->
                <div class="card">
                    <div class="card-header" id="headingSuccessfulOrders">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSuccessfulOrders">
                                Successful Orders <i class="fa-solid fa-arrow-down-wide-short" style="color: #000000;"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSuccessfulOrders" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive" style="max-height: 400px; overflow: auto;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Order Number</th>
                                            <th>Date</th>
                                            <th>Location</th>
                                            <th>Fabric</th>
                                            <th>Set Type</th>
                                            <th>Color</th>
                                            <th>Quantity</th>
                                            <th>Count</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in successful_orders %}
                                        <tr>
                                            <td>{{ order.name }}</td>
                                            <td>{{ order.order_number }}</td>
                                            <td>{{ order.date }}</td>
                                            <td>{{ order.location }}</td>
                                            <td>{{ order.fabric }}</td>
                                            <td>{{ order.setType }}</td>
                                            <td>{{ order.color }}</td>
                                            <td>{{ order.qty }}</td>
                                            <td>{{ order.count }}</td>
                                            <td>{{ order.price }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                </div>
                <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingSuccessfulOrders">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSuccessfulOrders">
                                Raw Training Sets <i class="fa-solid fa-arrow-down-wide-short" style="color: #000000;"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSuccessfulOrders" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive" style="max-height: 400px; overflow: auto;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Location</th>
                                            <th>Fabric</th>
                                            <th>Set Type</th>
                                            <th>Color</th>
                                            <th>Quantity</th>
                                            <th>Count</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rawData in raw_training_sets %}
                                        <tr>
                                            <td>{{ rawData.date }}</td>
                                            <td>{{ rawData.location }}</td>
                                            <td>{{ rawData.fabric }}</td>
                                            <td>{{ rawData.setType }}</td>
                                            <td>{{ rawData.color }}</td>
                                            <td>{{ rawData.qty }}</td>
                                            <td>{{ rawData.count }}</td>
                                            <td>{{ rawData.price }}</td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                </div>
                <div>
                    <br>
                </div>
                <!-- Card Container 2: Purchase Data -->
                <div class="card">
                    <div class="card-header" id="headingPurchaseData">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePurchaseData">
                                Purchase Data <i class="fa-solid fa-arrow-down-wide-short" style="color: #000000;"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapsePurchaseData" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive" style="max-height: 400px; overflow: auto;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Fabric Type</th>
                                            <th>Payment</th>
                                            <th>Price</th>
                                            <th>Color</th>
                                            <th>Product Tag</th>
                                            <th>Set Type</th>
                                            <th>Month of Purchase</th>
                                            <th>Quantity</th>
                                            <th>Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for purchase in purchase_data %}
                                        <tr>
                                            <td>{{ purchase.fabric_type }}</td>
                                            <td>{{ purchase.payment }}</td>
                                            <td>{{ purchase.price }}</td>
                                            <td>{{ purchase.color }}</td>
                                            <td>{{ purchase.get_product_tag_display }}</td>
                                            <td>{{ purchase.setType }}</td>
                                            <td>{{ purchase.get_month_of_purchase_display }}</td>
                                            <td>{{ purchase.qty }}</td>
                                            <td>{{ purchase.count }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br>
    </div>
    <!-- Combined Data Container -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Fetched Data
                </div>
                <div class="card-body">
                    <a href="#" id="delete-all-data" class="btn btn-danger">Delete All Data</a>
                    <div class="table-responsive" style="max-height: 400px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Fabric Type</th>
                                    <th>Date</th>
                                    <th>Color</th>
                                    <th>Set Type</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for data in parsed_combined_data %}
                                <tr>
                                    <td>{{ data.fabric_type }}</td>
                                    <td>{{ data.date }}</td>
                                    <td>{{ data.color }}</td>
                                    <td>{{ data.set_type }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Cleaned Data
                </div>
                <div class="card-body">
                    <a href="#" id="delete-clean-all-data" class="btn btn-danger">Delete All Data</a>
                    <div class="table-responsive" style="max-height: 400px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Location</th>
                                    <th>Fabric</th>
                                    <th>Set Type</th>
                                    <th>Color</th>
                                    <th>Quantity</th>
                                    <th>Count</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for CleanData in cleaned_training_sets %}
                                <tr>
                                    <td>{{ CleanData.date }}</td>
                                    <td>{{ CleanData.location }}</td>
                                    <td>{{ CleanData.fabric }}</td>
                                    <td>{{ CleanData.setType }}</td>
                                    <td>{{ CleanData.color }}</td>
                                    <td>{{ CleanData.qty }}</td>
                                    <td>{{ CleanData.count }}</td>
                                    <td>{{ CleanData.total_price }}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <div>
        <br><br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Container 1: Fabrics -->
            <div class="card">
                <div class="card-header">
                    Fabrics
                </div>
                <div class="card-body">
                    <a href="#" id="delete-fabric-data" class="btn btn-danger">Delete All Data</a>
                    <div class="table-responsive" style="max-height: 200px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Fabric</th>
                                    <th>Date</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for fabric_data in sales_for_fabric_data %}
                                <tr>
                                    <td>{{ fabric_data.fabric }}</td>
                                    <td>{{ fabric_data.date }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br>
        </div>
        <div class="col-md-12">
            <!-- Container 2: Set Type -->
            <div class="card">
                <div class="card-header">
                    Set Type
                </div>
                <div class="card-body">
                    <a href="#" id="delete-setType-data" class="btn btn-danger">Delete All Data</a>
                    <div class="table-responsive" style="max-height: 200px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Set Type</th>
   
                                </tr>
                            </thead>
                            <tbody>
                                {% for category_data in sales_for_category_data %}
                                <tr>
                                    <td>{{ category_data.date }}</td>
                                    <td>{{ category_data.set_tag }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br>
        </div>
        <div class="col-md-12">
            <!-- Container 3: Color -->
            <div class="card">
                <div class="card-header">
                    Color
                </div>
                <div class="card-body">
                    <a href="#" id="delete-color-data" class="btn btn-danger">Delete All Data</a>
                    <div class="table-responsive" style="max-height: 200px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Fabric</th>
                                    <th>Color</th>
                                    <th>Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for color_data in sales_for_color_data %}
                                <tr>
                                    <td>{{ color_data.fabric }}</td>
                                    <td>{{ color_data.color }}</td>
                                    <td>{{ color_data.date }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br>
        </div>
        <div class="col-md-12">
            <!-- Container 4: Location -->
            <div class="card">
                <div class="card-header">
                    Location
                </div>
                <div class="card-body">
                    <a href="#" id="delete-location-data" class="btn btn-danger">Delete All Data</a>
                    <div class="table-responsive" style="max-height: 200px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Fabric</th>
                                    <th>Set Type</th>
                                    <th>Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for location_data in sales_for_location_data %}
                                <tr>
                                    <td>{{ location_data.location }}</td>
                                    <td>{{ location_data.fabric }}</td>
                                    <td>{{ location_data.set_type }}</td>
                                    <td>{{ location_data.date }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButton = document.getElementById("delete-all-data");
        if (deleteButton) {
            deleteButton.addEventListener("click", function (event) {
                event.preventDefault();
                const confirmation = confirm("Are you sure you want to delete all the data?");
                if (confirmation) {
                    window.location.href = "{% url 'fchub:delete-all-data' %}";
                }
            });
        }
    });
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButton = document.getElementById("delete-fabric-data");
        if (deleteButton) {
            deleteButton.addEventListener("click", function (event) {
                event.preventDefault();
                const confirmation = confirm("Are you sure you want to delete fabric data?");
                if (confirmation) {
                    window.location.href = "{% url 'fchub:delete-fabric-data' %}";
                }
            });
        }
    });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtonSetType = document.getElementById("delete-setType-data");
            if (deleteButtonSetType) {
                deleteButtonSetType.addEventListener("click", function (event) {
                    event.preventDefault();
                    const confirmation = confirm("Are you sure you want to delete Set Type data?");
                    if (confirmation) {
                        window.location.href = "{% url 'fchub:delete-setType-data' %}";
                    }
                });
            }
        });
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButton = document.getElementById("delete-color-data");
        if (deleteButton) {
            deleteButton.addEventListener("click", function (event) {
                event.preventDefault();
                const confirmation = confirm("Are you sure you want to delete color data?");
                if (confirmation) {
                    window.location.href = "{% url 'fchub:delete-color-data' %}";
                }
            });
        }
    });
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButton = document.getElementById("delete-location-data");
        if (deleteButton) {
            deleteButton.addEventListener("click", function (event) {
                event.preventDefault();
                const confirmation = confirm("Are you sure you want to delete location data?");
                if (confirmation) {
                    window.location.href = "{% url 'fchub:delete-location-data' %}";
                }
            });
        }
    });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deleteButton = document.getElementById("delete-clean-all-data");
            if (deleteButton) {
                deleteButton.addEventListener("click", function (event) {
                    event.preventDefault();
                    const confirmation = confirm("Are you sure you want to delete cleaned data?");
                    if (confirmation) {
                        window.location.href = "{% url 'fchub:delete-clean-all-data' %}";
                    }
                });
            }
        });
        </script>
</div>
<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
